* {
    box-sizing: border-box;
}

header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    background-color: lightgray;
    height:50px;
    padding-left: 4vw;
    padding-right: 4vw;
}

h1{
    font-size: 20px;
    margin-right: auto;
}

main{
    text-align:center;
}

.container{
    margin: 1em;
    font-size: 16px;
}

#welcome-banner{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: lightsteelblue;
    height: 200px;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* flex banner */
.columns,.columns-addColumns.show{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}

.columns div,.columns-addColumns.show div{
    padding: 20px;
    margin: 10px;
	background: slategray;
    height: 200px;
    font-size: 1rem;
}
.columns-addColumns{
    display:none;
}

button{
    border: none;
    background-color: rgb(223, 239, 255);
    font-size: 1rem;
    padding:20px;
}

/*RESPONSIVE NAVBAR MENU*/
.menu { 
    display:none;
}

.menu.active { 
    display:flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
}
.menu.active li{
    padding:20px;

}

i.hamburger{
    position:absolute;
    right: 1em;
    top: 1em;
    display: block;
    cursor: pointer;
}
i.hamburger.hide{
    display: none;
}

i.xmark{
    display:none;
}
i.xmark.show{
    position:fixed;
    right: 1em;
    top: 1em;
    display:block;
}

a {
    text-decoration:none;
    color: black;
}



/*Media Queries */

@media screen and (orientation:landscape),
       screen and (min-width: 500px) and (max-width:799px),
       screen and (min-width: 800px) and (max-width:1199px),
       screen and (min-width: 1200px){

    .columns,.columns-addColumns.show{
        display:flex;
        flex-direction: row;
        justify-content: center;

    }
    .columns div,.columns-addColumns.show div{
        flex: 1 45%;
    }
}

@media screen and (min-width: 800px) and (max-width:1199px),
       screen and (min-width: 1200px){
    
    .menu,
    .menu.active{
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        background-color: transparent;
        width:fit-content;
        height:fit-content;

    }
    .menu li{
        padding-left: 4em;
    }
        
    /*HIDE HAMBURGER MENU*/
    .toggleBox{
        display: none;
    }

    
}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
        margin: auto;
    }
}



